In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\dell\Downloads\SalaryData_Test.csv",na_values=0)

In [3]:
data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,NaN,NaN,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,NaN,NaN,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,NaN,NaN,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,NaN,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,NaN,NaN,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,NaN,NaN,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,NaN,NaN,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,NaN,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,NaN,NaN,60,United-States,>50K

In [4]:
data.isna().sum()

age                  0
workclass            0
education            0
educationno          0
maritalstatus        0
occupation           0
relationship         0
race                 0
sex                  0
capitalgain      13808
capitalloss      14347
hoursperweek         0
native               0
Salary               0
dtype: int64

In [5]:
13808/15060

0.9168658698539177

In [6]:
14347/15060

0.9526560424966799

In [7]:
q=data.drop('capitalgain',axis=1)

In [8]:
w=q.drop('capitalloss',axis=1)

In [9]:
e=w.drop('educationno',axis=1)

In [10]:
e

,age,workclass,education,maritalstatus,occupation,relationship,race,sex,hoursperweek,native,Salary
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,34,Private,10th,Never-married,Other-service,Not-in-family,White,Male,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Male,40,United-States,<=50K
15056,39,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,36,United-States,<=50K
15057,38,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,<=50K
15058,44,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,>50K

In [11]:
x=e.drop('Salary',axis=1)

In [12]:
y=e['Salary']

In [13]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [14]:
categorical_features=[feature for feature in x.columns if x[feature].dtypes=='O']
categorical_features

['workclass',
 'education',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native']

In [15]:
for feature in categorical_features:
    print('The feature is {} and number of categories are {}'.format(feature,len(x[feature].unique())))

The feature is workclass and number of categories are 7
The feature is education and number of categories are 16
The feature is maritalstatus and number of categories are 7
The feature is occupation and number of categories are 14
The feature is relationship and number of categories are 6
The feature is race and number of categories are 5
The feature is sex and number of categories are 2
The feature is native and number of categories are 40

In [16]:
x[categorical_features].head()

,workclass,education,maritalstatus,occupation,relationship,race,sex,native
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States
4,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States

In [27]:
s=x[categorical_features]

In [28]:
label=LabelEncoder()
encoder=OneHotEncoder()
X_2 = s.apply(label.fit_transform)

In [29]:
encoder.fit(X_2)

OneHotEncoder(categories='auto', drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

In [30]:
onehotlabels = encoder.transform(X_2).toarray()
onehotlabels.shape

(15060, 97)

In [31]:
Y=label.fit_transform(y)
x=pd.concat([q,pd.DataFrame(onehotlabels)],axis=1)

In [32]:
q=x[['age','hoursperweek']]

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, Y,test_size=0.30)
x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

In [42]:
x_train.shape

(10542, 99)

In [43]:
y_train.shape

(10542,)

In [44]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score

In [45]:
x_train

array([[33., 40.,  0., ...,  1.,  0.,  0.],
       [46., 40.,  0., ...,  1.,  0.,  0.],
       [41., 40.,  0., ...,  0.,  0.,  0.],
       ...,
       [24., 55.,  0., ...,  0.,  0.,  0.],
       [19., 40.,  0., ...,  1.,  0.,  0.],
       [45., 40.,  0., ...,  1.,  0.,  0.]])

In [46]:
model=BernoulliNB()
model.fit(x_train,y_train)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [47]:
y_pred = model.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.7425852146967685

In [38]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [39]:
model=MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
y_pred = model.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.7835325365205843