In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\dell\Downloads\sms_raw_NB.csv",encoding='latin-1')

In [3]:
data

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or å£10,000...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

In [20]:
y=data['label']

In [21]:
x=data['text']

In [19]:
x

                                                   text  label
0     Hope you are having a good week. Just checking in      0
1                               K..give back my thanks.      0
2           Am also doing in cbe only. But have to pay.      0
3     complimentary 4 STAR Ibiza Holiday or å£10,000...      1
4     okmail: Dear Dave this is your final notice to...      1
...                                                 ...    ...
5554  You are a great role model. You are giving so ...      0
5555  Awesome, I remember the last time we got someb...      0
5556  If you don't, your prize will go to another cu...      1
5557  SMS. ac JSco: Energy is high, but u may not kn...      1
5558                    Shall call now dear having food      0

[5559 rows x 2 columns]

In [16]:
data['label'] = data['type'].apply(lambda x: 0 if x=='ham' else 1)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state=1)

In [23]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(strip_accents='ascii', token_pattern=u'(?ui)\\b\\w*[a-z]+\\w*\\b', lowercase=True, stop_words='english')
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)

In [25]:
word_freq_df = pd.DataFrame(X_train_cv.toarray(), columns=cv.get_feature_names())
top_words_df = pd.DataFrame(word_freq_df.sum()).sort_values(0, ascending=False)

In [26]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train_cv, y_train)
predictions = naive_bayes.predict(X_test_cv)

In [27]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
print('Accuracy score: ', accuracy_score(y_test, predictions))
print('Precision score: ', precision_score(y_test, predictions))
print('Recall score: ', recall_score(y_test, predictions))

Accuracy score:  0.9841726618705036
Precision score:  0.968421052631579
Recall score:  0.92

In [28]:
predictions = naive_bayes.predict(X_train_cv)

In [29]:
print('Accuracy score: ', accuracy_score(y_train, predictions))
print('Precision score: ', precision_score(y_train, predictions))
print('Recall score: ', recall_score(y_train, predictions))

Accuracy score:  0.9913648356920125
Precision score:  0.9653916211293261
Recall score:  0.9689213893967094